<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"> about <span> Me </span> </h1>

<div class="row-1">

    <div class="image">
        <img src="images/me.jpg" alt="">
    </div>

    <div class="content">
        <h3>Shreya Patel<br></h3><h4>Font End developer </h4>
        <p>I use a creative approach to satisfy the user's needs and experience.</p>
        <div class="box-container">
            <div class="box">
                <p> <span> age : </span> 23 </p>
                <p> <span> gender : </span> female </p>
                <p> <span> language : </span>  english, gujarati, hindi </p>
                <p> <span> Country : </span> India </p>
            </div>
            <div class="box">
                <p> <span> Freelance : </span> Available </p>
                <p> <span> Contact Number : </span>+91 97126 22051 </p>
                <p> <span> Email:</span>spatel5175@conestogac.on.ca</p>
            </div>
        </div>
    </div>

</div>

<h1 class="heading"> <span> My </span> Skills </h1>

<div class="row-2">

    <div class="skills">
        <div class="progress">
            <h3> Web Design <span> 80% </span> </h3>
            <div class="bar"> <span></span> </div>
        </div>
        <div class="progress">
            <h3> Web Development <span> 70% </span> </h3>
            <div class="bar"> <span></span> </div>
        </div>
        <div class="progress">
            <h3> UI Design <span> 90% </span> </h3>
            <div class="bar"> <span></span> </div>
        </div>
        <div class="progress">
            <h3> IOS Development <span> 85% </span> </h3>
            <div class="bar"> <span></span> </div>
        </div>
    </div>

    

</div>

</section>

<!-- about section ends -->