<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> contact <span> me </span> </h1>

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>my email</h3>
            <p>spatel5175@conestogac.on.ca</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>Reach me out</h3>
            <p>+91 97126 22051</p>
        </div>

        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <h3>My Address</h3>
            <p>131, Krishna Nagar society, Bardoli<br> Surat, Gujarat<br> India</p>
        </div>

    </div>

    <div class="row">

        <form action="">

            <input type="text" placeholder="Enter your Name" class="box">
            <input type="email" placeholder="Enter Email Address" class="box">
            {{!-- <input type="number" placeholder="number" class="box"> --}}

            <textarea name="" placeholder="Please enter your Message" id="" cols="30" rows="10"></textarea>

            <input type="submit" class="btn" value="send message">

        </form>

    </div>

</section>
<!-- contact section ends -->