<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <span class="hi"> Hi folks... </span>
        <h3> I'm <span> Shreya Patel </span> </h3>
        <p class="info"> I am a Front End developer </p>
        <p class="text">I am a passionate developer who loves to develop and work on different applications. I am more inclined in creating website which are user centric. Developing mobile applications get lot of my attention and made me super involved working on such projects.</p>
        <a href="/about" class="btn">about me</a>
    </div>

    <div class="image">
        <img src="images/home.jpg" alt="">
    </div>

</section>

<!-- home section ends -->

 </body>
 