<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /><title>My Portfolio</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    
<div id="menu-bars" class="fas fa-bars"></div>
    
<!-- header section starts  -->

<header>

    <a href="/" class="logo"> <span>Shreya</span> Patel </a>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/portfolio">My Projects</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="follow">
        <a href="https://outlook.office365.com" class="fas fa-envelope"></a>
        <a href="https://github.com/ShreyaP20" class="fab fa-github"></a>
        <a href="https://www.linkedin.com/in/shreya-patel05" class="fab fa-linkedin"></a>
    </div>

</header>

<!-- header section ends -->

{{{body}}} 

  </body>
</html>
