<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span> My </span> Projects </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/img-1.jpg" alt="">
            <h3> C# Vehicle-Mechanic shop  </h3>
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-2.jpg" alt="">
            <h3>iOS Doctor's app</h3>
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-3.jpg" alt="">
            <h3>Web portfolio</h3>
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-4.jpg" alt="">
            <h3>UI design</h3>
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-5.jpg" alt="">
            <h3>E-Condor Library</h3>
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-6.jpg" alt="">
            <h3>C# Hair dresser shop</h3 >
            <div class="icons">
                <a href="https://github.com/ShreyaP20" class="fas fa-link"></a>
            </div>
        </div>

    </div>

</section>

<!-- portfolio section ends -->